{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ render_form(form) }}
        </form>
        <p>FORGET PASSWORD
            <a href="{{ url_for('auth_bp.reset_password') }}">Click Here To Reset Password</a>
        </p>
        <p>JOIN US!..
            <a href="{{ url_for('auth_bp.signup') }}">Register Account</a>
        </p>
    </div>
</div>
{% endblock %}