{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<h1>My profile</h1>
<div class="column is-4 is-offset-4">
    <div class="box">
      <p>Heeeeello, {{ current_user.name }}</p>
      <h3>Status:</h3>
      {% for role in current_user.roles %}
        <p>{{ role }}</p>
      {% endfor %}
      <div>my email:
        <address> 
          {{ current_user.email }}
        </address>
      </div>
      <h3>{{ current_user.about }}</h3>
      <ul>
        <li><a href="{{ url_for('auth_bp.changename') }}">change name</a></li>
        <li><a href="{{ url_for('auth_bp.change_email') }}">change email</a></li>
        <li><a href="{{ url_for('auth_bp.change_email') }}">change password</a></li>
        <li><a href="{{ url_for('auth_bp.change_about') }}">change about</a></li>
      </ul>
      <h3><a href="{{ url_for('auth_bp.logout') }}">Log out</a></h3>
    </div>
  </div>
{% endblock %}