{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<!-- {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %} -->
<div class="column is-4 is-offset-4">
    <div class="box">
      <form method="POST" action="">          
          {{ form.csrf_token }}
          {{ render_form(form) }}           
      </form>
    </div>
    <a href="{{ url_for('auth_bp.profile') }}">Return to my profile</a>
      <!-- <div class="box">
        <form method="post" action="/">
          <input type="submit" name="update_name" value="Update Name">
          <input type="submit" name="update_email" value="Update Email">
          <input type="submit" name="update_password" value="Update Password">
          <input type="submit" name="update_about" value="Update About">
        </form>
      </div> -->
  </div>
{% endblock %}
