<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NotFound</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='/images/avatar.png') }}">
        Wrong Page.
    </h2>
    <footer>
        <small>&copy; 2024 <a href="https://github.com/dizhuZheng">HelloDizhu</a></small>
    </footer>
</body>
</html>