{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ render_form(form) }}
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
        </form>
    </div>
</div>
{% endblock %}